.star {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12.5vw;
}

.star-large{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
}
.star-middle{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12.50vw;
}